extends index 

block scripts
  link(rel="stylesheet" href="/css/styles.css")

block main-content
  h2= center.name
  p Address: #{center.address}
  p Phone: #{center.phone}
  p Website:
    a(href=center.website, target="_blank") #{center.website}
  if center.photos
    img(src=center.photos[0].url, alt="Center Photo")
  p Description: #{center.description}

block footer
  script(src="/js/main.js")
