extends index

block scripts
  link(rel="stylesheet" href="/css/style.css")

block main-content
  h2= center.name
  p Address: #{center.address}
  p Phone: #{center.phone}
  p Website:
    a(href=center.website, target="_blank") #{center.website}
  if center.photos
    img(src=center.photos[0].url, alt="Center Photo")
  p Description: #{center.description}

block footer
  footer
      p &copy; 2024 Pet Haven. All rights reserved.
        nav
        a(href="/about") About Us
        span |
        a(href="/contact") Contact
        span |
        a(href="/privacy") Privacy Policy
  script(src="/js/main.js")
