extends index

block scripts
  link(rel="stylesheet" href="/css/style.css")

block main-content
  h2= clinic.name
  p Address: #{clinic.address}
  p Phone: #{clinic.phone}
  p Website:
    a(href=clinic.website, target="_blank") #{clinic.website}
  if clinic.photos
    img(src=clinic.photos[0].url, alt="Clinic Photo")
  p Description: #{clinic.description}

block footer
  footer
      p &copy; 2024 Pet Haven. All rights reserved.
        nav
        a(href="/about") About Us
        span |
        a(href="/contact") Contact
        span |
        a(href="/privacy") Privacy Policy
  script(src="/js/main.js")
