extends index

block scripts
  link(rel="stylesheet" href="/css/style.css")
  script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyCIxoKH92uxe8-YmZZ4mwSiJWZbU9nBdSU&libraries=places&callback=initMap` async defer)

block main-content
  h2 Pet-Friendly Locations
  #map(style="height: 500px; width: 100%;")
  if locations
    ul
      each location in locations
        li
          h3= location.name
          p= location.location.address
          p= location.description
  if error
    p.error #{error}

block footer
block footer
  footer
      p &copy; 2024 Pet Haven. All rights reserved.
        nav
        a(href="/about") About Us
        span |
        a(href="/contact") Contact
        span |
        a(href="/privacy") Privacy Policy
  // Render locations as a JSON object
  script.
    window.locations = !{JSON.stringify(locations || [])};
  script(src="/js/map.js")
