extends index

block scripts
  link(rel="stylesheet" href="/css/style.css")

block main-content
  h2= store.name
  p Address: #{store.address}
  p Phone: #{store.phone}
  p Website:
    a(href=store.website, target="_blank") #{store.website}
  if store.photos
    img(src=store.photos[0].url, alt="Store Photo")
  p Description: #{store.description}

block footer
  footer
      p &copy; 2024 Pet Haven. All rights reserved.
        nav
        a(href="/about") About Us
        span |
        a(href="/contact") Contact
        span |
        a(href="/privacy") Privacy Policy
  script(src="/js/main.js")
