extends index

block scripts
  link(rel="stylesheet" href="/css/styles.css")

block main-content
  h2= store.name
  p Address: #{store.address}
  p Phone: #{store.phone}
  p Website:
    a(href=store.website, target="_blank") #{store.website}
  if store.photos
    img(src=store.photos[0].url, alt="Store Photo")
  p Description: #{store.description}

block footer
  script(src="/js/main.js")
